<h1 class="header">O<span style="font-size: 24px;">ur Leaders</span></h1>
<div class="manager-container">
    <div class="manager-image">
        <img src="assets/manager1.png" alt="Manager Image">
    </div>
    <div class="manager-details">
        <h3>Jane Smith</h3>
        <p> Experienced IT manager with a strong background in project management. Successfully led international projects and teams, delivering high-value solutions to clients.</p>    </div>
</div>

<div class="manager-container">
    <div class="manager-image">
        <img src="assets/manager2.png" alt="Manager Image">
    </div>
    <div class="manager-details">
        <h3> Emily Johnson</h3>
        <p>Seasoned manager with expertise in IT service delivery and global team coordination. Committed to optimizing processes and enhancing customer satisfaction.</p>
    </div>
</div>

<div class="manager-container">
    <div class="manager-image">
        <img src="assets/manager3.png" alt="Manager Image">
    </div>
    <div class="manager-details">
        <h3>John Doe</h3>
        <p>Accomplished IT professional with over 15 years of experience. Known for effective problem-solving and leadership in complex projects, driving business growth.</p>
    </div>
</div>