<div  class="vision-container" >
    <h1 class="vision-heading">Empowering Tomorrow with Technology</h1>
    <p class="vision-slogan">Innovate, Transform, Lead</p>
    <p class="vision-paragraph">At M A V E R I C K, we envision a future where technology empowers businesses and individuals to achieve their full potential. Our commitment to innovation, transformation, and leadership drives us to create cutting-edge solutions that shape the digital landscape. Join us in building a brighter tomorrow through technology.</p>
</div>
<app-founder-zone ></app-founder-zone>
<app-leaders></app-leaders>