<html>

<body>
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
    </div>
    <div id="centered-container">
        <div id="typing-text-container">
            <div id="typing-text"></div>
        </div>
    </div>
</body>

</html>
<app-achievements></app-achievements>
<app-imagegrid></app-imagegrid>