<div class="founder-container">
    <div class="founder-image">
        <img src="assets/founder.png" alt="Founder Image">
    </div>
    <div class="summa">    .    </div>
    <div class="founder-details">
        <h3>FOUNDER</h3>
        <h2 class="founder-name">Sukumar Devarasan</h2>
        <div class="founder-description">
        <h3>Experience:</h3>
<pre>
Over 20 years of IT management experience.
Managed and executed projects globally.
Proficient in both On Site/Off Site and Off Shore models.
</pre>

<h3>Project Expertise:</h3>
<pre>
Led simultaneous multi-track applications projects spanning extended periods.
Demonstrated ability to handle complex, long-term projects effectively.
</pre>

<h3>Global Exposure:</h3>
<pre>
Managed teams across diverse geographies.
Led teams located in India, Ireland, and the U.S.
</pre>

<h3>Value Delivery:</h3>
<pre>
Involved in application consolidation initiatives.
Delivered substantial value to customers through these initiatives.
</pre>

<h3>Skills:</h3>
<pre>
Strong skills in Service Delivery, ITIL, CRM, Global, and IT Service Management.
</pre>
</div>
    </div>
</div>