<footer *ngIf="showHeader">
  <div class="footer-content">
    <div class="social-links">
      <a href="https://www.instagram.com/_aaki.__/" style="font-size:14px" class="fa">
        Instagram &#xf16d;
      </a>
      <a href="https://www.linkedin.com/in/shayamprasath-raji/"  class="fa">
        LinkedIn &#xf099;
      </a>
      <a href="https://www.facebook.com/profile.php?id=100015463784323"  class="fa">
        Facebook &#xf09a;
      </a>
      <a href="https://twitter.com/i/flow/login"  class="fa">
        Twitter &#xf08c;
      </a>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/services">Services</a>
    </div>

    <div class="branch">
      <ul>
        <h3 style="text-decoration:solid;">Branches</h3>
        <li class="animated-list-item"> - New York</li>
        <li class="animated-list-item"> - Paris</li>
        <li class="animated-list-item"> - cleveland</li>
        <li class="animated-list-item"> - africa</li>
        <li class="animated-list-item"> - america</li>
      </ul>
    </div>

    <address>
      <pre>
        MAVERICK,
        MELBON ST ROAD,
        DELGO  DT.
        PARIS,
        PARIS Rd.
        AMERICA US 
    </pre>
    </address>
  </div>

  <div class="copyright">
    &copy; 2023 Maverick. All Rights Reserved.
  </div>
</footer>