<h1> G A L L A R Y </h1>
<div class="image-grid">
  <div class="image-item">
    <img src="assets/team1.png" alt="Image 1">
    <div class="overlay">
      <p>T E A M</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/events2.png" alt="Image 2">
    <div class="overlay">
      <p>E V E N T S</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/company3.png" alt="Image 3">
    <div class="overlay">
      <p> I N F R A S T R U C T U R E</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/meetingroom4.png" alt="Image 4">
    <div class="overlay">
      <p>C O N F E R E N C E</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/company-logo5.png" alt="Image 5">
    <div class="overlay">
      <p>M A V E R I C K</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/celebration6.png" alt="Image 6">
    <div class="overlay">
      <p>C E L E B R A T I O N</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/woekspace7.png" alt="Image 7">
    <div class="overlay">
      <p>W O R K S P A C E</p>
    </div>
  </div>
  <div class="image-item">
    <img src="assets/top-award8.png" alt="Image 8">
    <div class="overlay">
      <p>T O P 10 H O N O R</p>
    </div>
  </div>
</div>