<h1> A C H I E V E M E N T S </h1>
<div class="achievements-container">
  <div class="achievement">
    <img src="/assets/graduate.png" alt="Achievement 1">
    <h3>Empower Success</h3>
    <pre>
At Maverick,
our transformative courses and
unwavering support empower graduates
to excel in their chosen fields,
fostering a journey of learning,
growth, and achievement.
______________________
        </pre>
  </div>
  <div class="achievement">
    <img src="assets/graph.png" alt="Achievement 2">
    <h3>Spectacular Sales Peak</h3>
    <pre>
.
This year,
our company has achieved 
a spectacular sales peak,
reaching new heights of 
success and growth.
______________________
        </pre>
  </div>
  <div class="achievement">
    <img src="assets/awards.png" alt="Achievement 3">
    <h3>Top 10 IT Company Honors</h3>
    <pre>
.
Our company proudly 
ranks among the
top 10 IT companies,
a testament to our excellence
in the tech industry.
20 Years of Excellence
______________________
</pre>
  </div>
</div>